
@{
    ViewData["Title"] = "Author";
}


<div align="center">    
    <h1 class="display-4" style="color:seagreen">Author</h1>
    <p>All paintings are created by Beata Kazimierska.</p>
    <hr />
    <p>Despite it is not her main profession, she has already roughly over 30-years of experience at this field.</p>
    <hr />
    <p>Mainly painitng are created using crayons, pencils, and oily paint. Motives of pictures are various some of them are landscapes, other one are biblical, and some of them are just pure abstraction. </p>
    <hr />
    <p>If you like any of handicraft, feel free to contact me. I'm sure we can find common goal.</p>
    <hr />
    <p>Contact by mail: j.m.kazimierski@gmail.com</p>
</div>
