@{
    ViewData["Title"] = "Privacy Policy";
}
<div align="center">
    <h1 class="display-4" style="color:seagreen">@ViewData["Title"]</h1>

    <p>Site created by Jakub Kazimierski</p>
    <hr />
    <p>All rights reserved</p>
    <hr/>
    <p>To see more of my projects feel free to visit my GitHub page : <a href="https://github.com/JakubKazimierski" target="_blank">Jakub Kazimierski</a> </p>
    <hr/>
    <p>Contact by phone: 536 877 399</p>
    <p>Contact by mail: j.m.kazimierski@gmail.com</p>
</div>