body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: blanchedalmond;
    text-align: left;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../content/plainBackground2.jpg);
 
}
 
a {
    color:silver;
    text-decoration: none;
    background-color: transparent;
}
.containerScroll {
    text-align: center;
    width: auto;
 ;
}
.containerScroll ul {
    display: inline-block;
 
}

a:hover {
   color:seagreen;
   text-decoration:unset;
}

h1, h2, h3, h4 {
    color: seagreen;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color:black;
}
.display-4 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.2;
}
h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.2;
}
header {
    border: double;
    border-color: seagreen;
    color: whitesmoke;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    border-radius: 25px;
    width: 100%;
}
h3 {
    border-radius: 25px;
    background-color:black;
    border: 2px solid seagreen;
    padding: 20px;
}